<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfn.shop.admin.mapper.SysAuthMapper">

    <select id="getAuthByParenId" resultType="com.bjfn.shop.admin.common.dto.AuthTree">
        select
        a.id,a.name,a.permission,'1' type, 'false' hasChildren,#{parentId} parentId
        from sys_auth a join sys_auth_dir_auth b on a.id = b.auth_id
        where b.auth_dir_id = #{parentId}
    </select>
</mapper>
